<div class="container">
  <% if @bookings.length == 0 %>
   <p> You don't have any bookings yet. <%= link_to 'Book a bike', bikes_path %></p>
  <% else %>
  <h1>Your upcoming bookings</h1>
    <% @bookings.each do |booking| %>
    <h4> <%= booking.bike.brand %> </h4>
<!--     <ul> -->
      <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Start date
          <span class="badge badge-primary badge-pill"><%= booking.start_date %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          End date
          <span class="badge badge-primary badge-pill"><%= booking.end_date %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Delivery address
          <span class="badge badge-primary badge-pill"><%=booking.delivery_address  %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Brand
          <span class="badge badge-primary badge-pill"><%= booking.bike.brand %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Engine Size
          <span class="badge badge-primary badge-pill"><%= booking.bike.engine_size %> cc </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Total price
          <span class="badge badge-primary badge-pill">€ <%=rental_cost = (booking.end_date - booking.start_date).to_i * booking.bike.price%></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
            Booking Status
          <span class="badge badge-primary badge-pill"><%= booking.status %></span>
          </li>
  </ul>
    <% end %>
  <% end %>

  <% if @user_bikes.length == 0 %>
   <p> You haven't listed any bikes yet. <%= link_to 'List your bike ', new_bike_path %></p>
  <% else %>
  <h1>Your booking requests</h1>
    <% @user_bikes.each do |bike| %>
    <h4><%= bike.brand %></h4>
    <% bike.bookings.each do |booking| %>
          <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Start date
          <span class="badge badge-primary badge-pill"><%= booking.start_date %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          End date
          <span class="badge badge-primary badge-pill"><%= booking.end_date %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Delivery address
          <span class="badge badge-primary badge-pill"><%=booking.delivery_address  %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Brand
          <span class="badge badge-primary badge-pill"><%= booking.bike.brand %></span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Engine Size
          <span class="badge badge-primary badge-pill"><%= booking.bike.engine_size %> cc </span>
        </li>

        <li class="list-group-item d-flex justify-content-between align-items-center">
          Total price
          <span class="badge badge-primary badge-pill">€ <%=rental_cost = (booking.end_date - booking.start_date).to_i * booking.bike.price%></span>
        </li>

        <% if booking.bike.user == current_user %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Booking Status
            <span class="badge badge-primary badge-pill"><%= booking.status %> <%= link_to 'Change status', edit_booking_path(booking)%></span>
          </li>
        <% else  %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Booking Status
            <span class="badge badge-primary badge-pill"><%= booking.status %></span>
          </li>
        <% end %>
      </ul>

    <% end %>
  <% end %>
  <% end %>

</div>
