<div class="small-banner" style="background-image: url('https://res.cloudinary.com/dxzgio39l/image/upload/v1542093054/shop.jpg');">
    <div class="container">
      <!--   filter by category -->
      <form action="/bikes" class="index-filter custom-dropdown text-center">
        <select name="filter_category">
          <option value="" disabled selected>Select your vehicle</option>
          <option value="" selected>Any type of vehicle</option>
          <% @categories.each do |option| %>
          <option <%= 'selected' if params[:filter_category] == option %> value="<%= option %>"><%= option.capitalize %></option>
          <% end %>
        </select>
        <!--   filter by brand -->
        <select name="filter_brand" >
          <option value="" disabled selected>Select your brand</option>
          <option value="" selected>Any brand</option>
          <% @brands.each do |option| %>
          <option <%= 'selected' if params[:filter_brand] == option %> value="<%= option %>"><%= option.capitalize %></option>
          <% end %>
        </select>
        <!--   filter by engine -->
        <select name="filter_engine" >
          <option value="" disabled selected>Select your engine</option>
          <option value="" selected>Any engine size</option>
          <% @engines.each do |option| %>
          <option <%= 'selected' if params[:filter_engine] == option.to_s %> value="<%= option %>"><%= option %></option>
          <% end %>
        </select>
        <!--   filter by price -->
      <select name="filter_price" >
        <option value="" disabled selected>Select your price</option>
        <option value="" selected>Any price</option>
              <optgroup label=" <= to 15">
              <% @prices.select {|x| x < 15}.each do |option| %>
                <option <% 'selected' if params[:filter_price].to_i <= 15 %> value="<%= option %>"> <%= option %></option>
              <% end %>
               </optgroup>
              <optgroup label=" > to 15">
              <% @prices.reject {|x| x  < 15}.each do |option| %>
                <option <% 'selected' if params[:filter_price].to_i > 15 %> value="<%= option %>"><%= option %></option>
              <% end %>
              </optgroup>
      </select>
        <input type="submit" value="Search">
      </form>
    <div  class=" text-center" id ="adjustment-margin" >
      <%= link_to 'New bike', new_bike_path, class: 'btn btn-medium ' %>
    </div>
  </div>
</div>



  <div class="row">
    <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike) do %>
    <div class="col-sm-4 col-xs-12">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path "Bike1" %>');">
        <div class="card-description">
          <h2><%= bike.brand %></h2>
          <p>
            Engine size <%= bike.engine_size %>
            <p>
            </div>
            <%= link_to user_path(bike.user) do %>
            <% if bike.user.photo.file == nil %>
            <div class="default-avatar"></div>
            <% else %>
            <%= cl_image_tag bike.user.photo, class: "mini-avatar-user" %>
            <% end %>
            <% end %>
            <!-- <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay"> -->
            <div class="card-info">
              <p>
                <%= bike.category %>
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
</div>
</div>


