<div class="container">
<h1>Bikes#new</h1>
<h2>Add a new Bike</h2>
<%= simple_form_for [@bike] do |f| %>
  <%= f.input :category %>
  <%= f.input :price, label: "Price per day"%>
  <%= f.input :brand %>
  <%= f.input :engine_size %>

  <%#= f.input :image %>
  <%#= f.input :photo_cache, as: :hidden %>

  <%#= f.submit "upload bike image", class: "btn btn-medium" %>
  <%= f.submit "list bike", class: "btn btn-medium" %>
<% end %>
</div>


