<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="AIRBNBIKE" content="READY, RENT, RIDE!!">
  <link href="https://fonts.googleapis.com/css?family=Gudea|Monoton" rel="stylesheet">
  <title>AIRBNBIKE</title>
  <link rel="icon" href="https://res.cloudinary.com/dxzgio39l/image/upload/v1541994872/logo_small.png" type="image/x-icon">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
</head>


<body>

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <div class="padding-top-70">
      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %> <!-- from app/assets/javascripts/application.js -->
    <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
 


</body>

</html>
